<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="false">

	<appender name="Terminal" class="org.apache.log4j.ConsoleAppender">
		<param name="Threshold" value="INFO" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n" />
		</layout>
	</appender>

	<appender name="LogListenerLogfile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="LogListener.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="3000KB" />
		<param name="maxBackupIndex" value="4" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d %-5p [%c{1}] %m%n" />
		</layout>
	</appender>


	<logger name="org.rotarysource.inputadapter">
		<level value="INFO" />
	</logger>
	<logger name="org.rotarysource.inputadapter.BasicEventXMLMessageConverter">
		<level value="INFO" />
		<appender-ref ref="Terminal" />
	</logger>


	<logger name="org.rotarysource.listener.common.LogListener">
		<level value="DEBUG" />
		<appender-ref ref="LogListenerLogfile" />
	</logger>
		<logger name="org.rotarysource.listener.MapBaseListener">
		<level value="DEBUG" />
	</logger>

	<!-- *********************************************** -->
	<!-- Main class Log config -->
	<!-- *********************************************** -->
	<logger name="org.rotarysource.standalone">
		<level value="INFO" />
	</logger>

	<!-- *********************************************** -->
	<!-- Rotary Core Log config -->
	<!-- *********************************************** -->
	<logger name="org.rotarysource.core">
		<level value="INFO" />
	</logger>

	<!-- *********************************************** -->
	<!-- Esper CEP engine Log config -->
	<!-- *********************************************** -->
	<logger name="com.espertech.esper">
		<level value="WARN" />
	</logger>

	<!-- *********************************************** -->
	<!-- Default Log config -->
	<!-- *********************************************** -->
	<root>
		<level value="WARN" />
		<appender-ref ref="Terminal" />
	</root>


</log4j:configuration>
